# base ----------------------------------------
wheel
cython
numpy>=1.18.5
matplotlib>=3.2.2
protobuf==3.19
opencv-python==4.2.0.34
#Pillow
pillow-simd
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.41.0

# logging -------------------------------------
tensorboard>=2.4.1
# wandb

# plotting ------------------------------------
seaborn>=0.11.0
pandas

# export --------------------------------------
protobuf==3.19
onnx==1.14.1
onnxsim==0.4.10
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
# Cython  # for pycocotools https://github.com/cocodataset/cocoapi/issues/172
# pycocotools>=2.0  # COCO mAP
# albumentations>=1.0.3
thop  # FLOPs computation
